<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息</title>
</head>
<body>
    <div id="login-box">
        <h1>添加商品信息</h1>
        <form method="POST" action="/product_list/update">
            <div class="form">
                <div class="item">
                   <i class="fa fa-github-alt" style="font-size:24px"></i>
                   <span style="color: rgb(20, 157, 220);">货号：</span> <input type="text" name="uid"  placeholder="货号">		   
                </div>
                <div class="item">
                    <i class="fa fa-github-alt" style="font-size:24px"></i>
                    <span style="color: rgb(20, 157, 220);">商品名称：</span> <input type="text" name="uproduct_name"  placeholder="名称">		   
                 </div>
                 <div class="item">
                    <i class="fa fa-github-alt" style="font-size:24px"></i>
                    <span style="color: rgb(20, 157, 220);">供应商号：</span> <input type="text" name="usupplier_id"  placeholder="供应商号">		   
                 </div>
                <div class="item">
                   <i class="fa fa-search" style="font-size:24px"></i>
                   <span style="color:  rgb(20, 157, 220);">单价：</span> <input type="number" name="uprice" placeholder="单价">		   
                </div>
                <div class="item">
                    <i class="fa fa-search" style="font-size:24px"></i>
                    <span style="color: rgb(20, 157, 220);">库存：</span> <input type="number" name="uinventory"  placeholder="库存">		   
                 </div>
                 <button type="submit">提交<tton>
                 <!-- <input type="submit" value="提交"  -->
                </form>
                <button id="cancel">取消<tton>
               </div>
</body>
</html>